extends ../layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            +fullDate(`post__date`, article.createdAt)
            h2.post__title.title.title--main #{article.title}
            +categoryBlock(categories, true)
          if (article.picture === `sea@1x.jpg`)
            .post__picture
              -
                const pictureName = article.picture.split(`@`)[0];

              img(src=`/img/${pictureName}-fullsize@1x.jpg` srcset=`/img/${pictureName}-fullsize@1x.jpg 1x, /img/${pictureName}-fullsize@2x.jpg 2x` alt=`${pictureName}`)
          if (article.picture === `skyscraper@1x.jpg`)
            .post__picture
              -
                const pictureName = article.picture.split(`@`)[0];

              img(src=`/img/${pictureName}@1x.jpg` srcset=`/img/${pictureName}@1x.jpg 1x, /img/${pictureName}@2x.jpg 2x` alt=`${pictureName}`)
          if (article.picture === `forest@1x.jpg`)
            .post__picture
              -
                const pictureName = article.picture.split(`@`)[0];

              img(src=`/img/${pictureName}@1x.jpg` srcset=`/img/${pictureName}@1x.jpg 1x, /img/${pictureName}@2x.jpg 2x` alt=`${pictureName}`)
          if ((article.picture !== `sea@1x.jpg`) && (article.picture !== `skyscraper@1x.jpg`) && (article.picture !== `forest@1x.jpg`) && (article.picture !== ``))
            .post__picture
              -
                const pictureName = article.picture;

              img(src=`/img/${pictureName}` srcset=`/img/${pictureName} 1x, /img/${pictureName} 2x` alt=`${pictureName}`)
          .post__text
            h3 Бирюзовое доверие
            if (article.fullText)
              p
                | #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments(id="comments-anchor")
          h2.comments__title.title.title--middle #{article.comments.length === 0 ? `Комментарии отсутствуют` : `Комментарии`}
          if (article.comments.length !== 0)
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`/img/${comment.users.avatar}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p #{comment.users.name} #{comment.users.surname} •
                      +fullDate(`comments__date`, comment.updatedAt)
                    p.comments__message #{comment.text}
          if (user)
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments` method='post')
                .comments__avatar.avatar
                  img(src=`/img/${user.avatar}` alt='аватар пользователя')
                label
                  textarea(rows='1' name='message' placeholder='Присоединиться к обсуждению')
                button.comments__button.button.button--colored(type='submit') Опубликовать
              if validationMessages
                div.form__validation-error
                  p.form__error-message При отправке формы возникли ошибки:
                  ul.form__errors
                    each errorMessage in validationMessages
                      li.form__error #{errorMessage}
          else
            .comments__footer.comments__footer--visitor
              a(href="/login")
                button.comments__button.button.button--colored(type='button') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к
                  | переписке
                  | нужно зарегистрироваться
