extends ../layout

block content
  if (articles.length !== 0)
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p
        | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
      section.main-page__theme-list
        h2.visually-hidden Список тем
        +categoryBlock(categories, false)
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire
          if (articleCommentsCount.length !== 0)
            ul.hot__list
              each article, index in articleCommentsCount
                li.hot__list-item(class=`${index + 1 === articleCommentsCount.length ? `hot__list-item--end` : ``}`)
                  a.hot__list-link(href=`/articles/${article.id}`) #{article.announce.length > 100 ? article.announce.slice(0, 100) + `...` : article.announce}
                    sup.hot__link-sup #{article.count}
          else
            p.last__empty Здесь пока ничего нет...
        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud
          if (comments.length !== 0)
            ul.last__list
              each comment, index in comments
                li.last__list-item(class=`${index + 1 === comments.length ? `last__list-item--end` : ``}`)
                  img.last__list-image(src=`img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                  b.last__list-name #{comment.users.name} #{comment.users.surname}
                  a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.text.length > 100 ? comment.text.slice(0, 100) + `...` : comment.text}
          else
            p.last__empty Здесь пока ничего нет...
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        +articlesList(articles)
      +pagination(page, totalPages, 2, `?`)
  else
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.main-page__greeting.title.title--big
        | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
