extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article in articles
          each comment in article.comments
            li.publication__list-item
              form(action=`/articles/${article.id}/comments/${comment.id}` method="POST")
                .publication__header
                  img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                  b.publication__list-name #{comment.users.name} #{comment.users.surname}
                  time.publication__item-time(datetime=`${comment.updatedAt}`) #{`${new Date(comment.updatedAt).getDate() < 10 ? `0${new Date(comment.updatedAt).getDate()}` : new Date(comment.updatedAt).getDate()}.${new Date(comment.updatedAt).getMonth() < 9 ? `0${new Date(comment.updatedAt).getMonth() + 1}` : new Date(comment.updatedAt).getMonth() + 1}.${new Date(comment.updatedAt).getFullYear()}, ${new Date(comment.updatedAt).getHours() < 10 ? `0${new Date(comment.updatedAt).getHours()}` : new Date(comment.updatedAt).getHours()}:${new Date(comment.updatedAt).getMinutes() < 10 ? `0${new Date(comment.updatedAt).getMinutes()}` : new Date(comment.updatedAt).getMinutes()}`}
                a.publication__item-text(href=`/articles/${article.id}#comments-anchor`)
                  | #{comment.text}
                p.publication__text-strong
                  | #{article.title}
                button.publication__button.button.button--close-item(type='submit')
                  span.visually-hidden Закрыть строку списка
